.card-caixa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.card-body-caixa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}

.card-body-text {
    text-align: justify;
    padding: 0 10px;
}

